.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid */
  gap: 20px; /* Space between cards */
  margin-top: 20px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure all cards have the same height */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation for hover effects */
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.05); /* Scale effect on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}

.movie-image {
  height: 150px; /* Fixed height for images */
  object-fit: cover; /* Maintain aspect ratio */
}

.card-content {
  flex-grow: 1; /* Allow content to take up remaining space */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between content and button */
}

.movie-plot {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit bio text to 4 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.view-details-button {
  align-self: center; /* Center the button horizontally */
  margin: 10px 0; /* Margin for spacing */
}
